<ion-header>
    <ion-navbar color="custom">
      <ion-title>
        QRScanner
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <div style="background: none transparent;height:100%">
      <img src="../../../../assets/imgs/qrscanner.png" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
  <ion-footer>
      <ion-navbar color="black">
      </ion-navbar>
    </ion-footer>