<ion-content no-bounce class="master">
  <ion-row>
        <ion-col col-19>asd</ion-col>
    </ion-row>
  <ion-slides autoplay="4000" pager loop>
      <ion-slide>
          <h4>Welcome</h4>
          <p>Let us take care of you for the weekend</p>
      </ion-slide>
      <ion-slide>
          <h4>Escape</h4>
          <p>Let us take care of you for the weekend</p>
      </ion-slide>
      <ion-slide>
          <h4>Luxury</h4>
          <p>Let us take care of you for the weekend</p>
      </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
        <div class="container-fluid h-100" style="background-color:transparent;">
            <div class="row justify-content-center h-100" style="background-color:transparent">
              <div class="col-99 align-self-end text-center" style="margin: 10px;width:98%">
                  <button class="btn btn-custom btn-lg btn-block" (click)="login()">Let's go</button>
              </div>
            </div>
          </div>
    </ion-footer>
  