page-welcome {
    font-family: 'Avenir', sans-serif;
    .master{
        background-color: #010001 !important;
        background-image: url("../../assets/imgs/trust_welcome_bg.png");
        background-size: cover; 
        -ms-background-size: cover; 
        -o-background-size: cover; 
        -moz-background-size: cover; 
        -webkit-background-size: cover;
    }    
    ion-content{
        margin:0;
    }
    ion-img {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }
    ion-slides {
        height: 200px;
        position: absolute;
        bottom: 0;
        background-color: transparent;
        ion-slide {
            color: #fff;
        }

        h4 {
            font-weight: bold;
        }
        .swiper-pagination-bullet {
            background: map-get($colors, light);
        }
    }
    .grid{
        padding: 8px;
    }
    button {
        font-weight: bold;
    }
    ion-footer{
        margin:0;
        background-color: #010001;
    }
}
    