<ion-header>
    <ion-navbar hideBackButton color="custom">
      <button ion-button menuToggle style="display: block !important">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><span class="text-normal">RESERVATION</span></ion-title>
    </ion-navbar>
  </ion-header>
<ion-content>
  <ion-grid>
      <ion-row justify-content-center class="message">
          <span class="text-normal message">
            Step 1: Choose Session:-
          </span>
        </ion-row>

        <ion-list radio-group [(ngModel)]="session_type">
            <ion-item>
                <ion-label>8.30 am - 1.00 pm (Morning)</ion-label>
                <ion-radio [value]="1" (click)="updateSessionType(1)"></ion-radio>
            </ion-item>        
            <ion-item>
                <ion-label>2.00 pm - 5.30 pm (Afternoon)</ion-label>
                <ion-radio [value]="2" (click)="updateSessionType(2)"></ion-radio>
            </ion-item>        
            <ion-item>
                <ion-label>8.30 am - 5.30 pm (Full day)</ion-label>
                <ion-radio [value]="3" (click)="updateSessionType(3)"></ion-radio>
            </ion-item>
        </ion-list>
                  
        <ion-row justify-content-center class="message">
            <span class="text-normal message">
              Step 2: Choose Building
            </span>
          </ion-row>    
      <ion-list>
      <ion-item *ngFor ="let data of building" no-lines style="height:60px">
        <ion-row justify-content-center >
          <ion-col col-19>
              <!-- <button ion-button color="dark" full (click)="gotoCategoriesPage(data.id,data.name)">{{data.name}}</button> -->
              <button class="btn btn-custom btn-lg btn-block" (click)="gotoCategoriesPage(data.id,data.name)">{{data.name}}</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
