<!-- <ion-content padding="" class="master" no-bounce>
  <div class="top-page">
  </div>
  <div >
    <ion-row >
      <ion-col text-center text-white>
        <span class="text-normal">TR</span><span class="text-bigger">US</span><span class="text-normal">T</span>
        <h5>
            Transparency Reservation Unity Space optimization Time check
        </h5>
      </ion-col>
    </ion-row>
  </div>
  <div class="bottom-page">
    <ion-row>
      <ion-input type='url' color="primary" placeholder="Staff ID" [(ngModel)]="userData.username" autocorrect="off"></ion-input>
    </ion-row>    
    <ion-row>
        <ion-input placeholder="IDSS password" type="password" [(ngModel)]="userData.password"></ion-input>
    </ion-row>    
    <ion-row>
        <button ion-button type="submit" block color="dark" (click)="login()">Login</button>
    </ion-row>
    <ion-row justify-content-center>
      All staff user password managed by TM IDSS!
    </ion-row>    
  </div>
</ion-content> -->

<ion-content no-bounce>
    <ion-row class="row-top">
      <ion-col align-items-start text-center class="col-top">
      </ion-col>
    </ion-row>

    <ion-row class="row-logo">
      <ion-col align-items-center text-center class="col-logo">
      </ion-col>
    </ion-row>
    <ion-row class="row-logo-title">
        <ion-col align-items-center text-center class="col-logo-title">
          TRUST
        </ion-col>
      </ion-row>
      <ion-row class="row-logo-title-alt">
          <ion-col align-items-center text-center class="col-logo-title-alt">
              Transparency Reservation Unity Space optimization Time check
          </ion-col>
        </ion-row>
        <ion-row class="row-bottom">
      <ion-col align-items-end text-center class="col-bottom">
        <ion-item no-lines>
          <ion-label position="fixed"><ion-icon name="person"></ion-icon></ion-label>
          <ion-input clearInput 
            autocapitalize="false" 
            autocomplete="false" 
            autocorrect="false" 
            inputmode="email"
            name="username"
            required="true"
            spellcheck="false"
            placeholder="Staff id"
            [(ngModel)]="userData.username"
            >
          </ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label position="fixed"><ion-icon name="lock"></ion-icon></ion-label>
          <ion-input clearInput 
            autocapitalize="false" 
            autocomplete="false" 
            autocorrect="false" 
            inputmode="password"
            type="password"
            name="username"
            required="true"
            spellcheck="false"
            placeholder="TM IDSS password"
            [(ngModel)]="userData.password"
            >
          </ion-input>
        </ion-item>
        <button class="btn btn-custom btn-lg btn-block" (click)="doLogin()" style="margin-top:10px">Login</button>
        <span>Password is managed by TM IDSS</span>
      </ion-col>
    </ion-row>
</ion-content>
  