// font-family: 'Avenir', sans-serif;
// ion-content{
//     background-color: #010001;
//     margin:0;
//     background-image: url("../../../assets/imgs/trust_login_bg.png");
//     background-size: cover; -ms-background-size: cover; -o-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover;
// }
// .top-page{
//     height:50%
// }
// .middle-page{
//     height:100px;
//     padding-bottom: 5px;
// }
// .master{
//     background-color: #03050a !important;
// }
// .row{
//     color: white;
// }
// ion-input {
//     background-color: white;
//     color: black;
//     border: 2px solid transparent;
//     margin-bottom: 5px;
//     padding-left: 5px;
//     border-radius: 5px
// }
// ion-img {
//     top: 50%;
//     left: 50%;
//     height:500px;
// }
// button {
//     font-weight: bold;
// }
// .mytoast { 
//     .toast-wrapper {
//         text-align: center;
//         background: blue;
//         opacity: 0.8;
//         border-radius: 5px;
//         text-align: center;
//         border-top-left-radius: 10px;
//         border-top-right-radius: 10px;
//       }
//       .toast-message {
//         font-size: 3.0rem;
//         color: white;
//         border-top-left-radius: 10px;
//         border-top-right-radius: 10px;
//       }            
// }
// .scroll-content {
//     padding-bottom: 0 !important;
//  }

page-login {
 
    ion-content{
        background: #010001 url("../../../assets/imgs/trust_bg.png") no-repeat center center / cover;
        z-index: -1000;
        margin:0;
        height: 100% !important;
        ion-slides {
            background-color: transparent;
            --bullet-background: rgba(255, 254, 254, 0.719);
            --bullet-background-active: white;
            //height: 100%;
            color: whitesmoke;
            height: 100% !important;
        }
    }
    
    ion-grid{
        width:100%;
        background-color: #ffffff;
        border: 0;
        height:100%;
        ion-row{
            // height:100%;
            --ion-grid-width:100%;
        }
    }
    
    .row-top{
        height:15%;
        .col-top{
            //background-color: yellow;
            // height:20%
            align-self: stretch;
        }
    }
    
    .row-logo{
        height:25%;
        .col-logo{
            background-image:  url("../../../assets/imgs/logo.png");
            background-color: transparent;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            align-self: stretch;
        }
        
    }
    
    .row-logo-title{
        height:5%;
        .col-logo-title{
            color: white;
            font-size: 20px;
        }
    }
    
    .row-logo-title-alt{
        height:5%;
        .col-logo-title-alt{
            color: white;
            font-size: 14px;
        }
        
    }
    
    .row-bottom{
        height:40%;
        .col-bottom{
            width: 80%;
            // background-color: blue;
            //height:40%;
            padding-top: 40px;
            padding-left: 30px;
            padding-right: 30px;
            ion-item{
                margin-bottom: 4px;
                ion-label{
                    color: #010001;
                    min-width: 20px !important;
                    max-width: 20px !important;    
                }
                ion-input{
                    background: #fff;
                    color: #010001;
                    ::placeholder {
                        color: #01000180;
                        // font-size: 1.5em;
                      }
                    text-align: left;
                    height: 45px;
                    border-radius:5px;
                    border:1px solid #fff;
                }
            }
            .ion-item-button{
                margin-top: 20px;
                background: blue;
            }
            span{
                font-size: 13px;
                color: white;
            }
        }
    }
        
}
