<ion-header>
    <ion-navbar color="custom">
        <ion-title><span class="text-normal">RESERVATION</span></ion-title>
      </ion-navbar>
  </ion-header>
<ion-content>
<ion-content no-bounce>
    <ion-row justify-content-center style="padding-top:30px">
        <span class="text-smaller">
          Building: {{building_name}}
        </span>
      </ion-row>    
      <ion-row justify-content-center>
        <span class="text-smaller">
          Type: {{type_name}}
        </span>
      </ion-row>    
      <ion-row justify-content-center style="padding-bottom:20px">
        <span class="text-smaller">
          Section/Floor: {{section_name}}
        </span>
      </ion-row>  

    <ion-row class="row-top">
      <ion-col align-items-start text-center class="col-top">
      </ion-col>
    </ion-row>

    <ion-row class="row-logo">
      <ion-col align-items-center text-center class="col-logo">
      </ion-col>
    </ion-row>
</ion-content>
  