<ion-header>
    <ion-navbar color="custom">
        <ion-title><span class="text-normal">RESERVATION</span></ion-title>
      </ion-navbar>
  </ion-header>
<ion-content>
  <ion-grid>
      <ion-row justify-content-center style="padding-top:30px">
        <span class="text-smaller">
          Building: {{building_name}}
        </span>
      </ion-row>    
      <ion-row justify-content-center>
          <span class="text-smaller">
            {{session_type_name}}
          </span>
        </ion-row>
      <ion-row justify-content-center>
        <span class="text-smaller">
          Type: {{type_name}}
        </span>
      </ion-row>    
      <ion-row justify-content-center style="padding-bottom:20px">
        <span class="text-smaller">
          Section/Floor: {{section_name}}
        </span>
      </ion-row>
      <ion-list>
        <ion-item>
            <ion-label>Status:</ion-label>
            <ion-select [(ngModel)]="status" (ionChange)="onChange($event)">
              <ion-option value="0">Vacant</ion-option>
              <ion-option value="1">Occupied</ion-option>
              <ion-option value="2">Closed</ion-option>
            </ion-select>
        </ion-item>
        <ion-row justify-content-center style="padding-top:30px">
            <ion-col width-20>
                <button class="btn btn-custom btn-lg btn-block" (click)="gotoViewMap(building,id,section_id)">View Floor Map</button>
            </ion-col>
        </ion-row>      
        <ion-row justify-content-center style="padding-top:30px">
          <span class="text-normal">
            Step 5: Choose place
          </span>
        </ion-row>
        <ion-row *ngFor="let row of rows" class="row">
            <ion-col *ngFor="let data of row" class="col">
                <button class="btn btn-custom btn-lg btn-block" (click)="gotoPlacePage(data.id)">{{data.name}}</button>
            </ion-col>
          </ion-row>
    </ion-list>
  </ion-grid>
</ion-content>
