<ion-header>
    <ion-navbar color="custom">
      <ion-title>Check-Out</ion-title>
    </ion-navbar>
  </ion-header>
  
<ion-content no-bounce class="master">
    <ion-list>
        <ion-item no-lines >
          <ion-row justify-content-center class="param">
            <ion-col col-19>
              Location :
            </ion-col>
            <ion-col col-19 class="value">
              {{detail.name}}
            </ion-col>
          </ion-row>
          <ion-row justify-content-center class="param">
              <ion-col col-19>
              Datetime :
            </ion-col>
            <ion-col col-19 class="value">
              {{detail.datetime}}
            </ion-col>
          </ion-row>
          <ion-row justify-content-center class="param">
              <ion-col col-19>
              Start :
            </ion-col>
            <ion-col col-19 class="value">
              {{detail.start}}
            </ion-col>
          </ion-row>
          <ion-row justify-content-center class="param">
              <ion-col col-19>
              End :
            </ion-col>
            <ion-col col-19 class="value">
              {{detail.end}}
            </ion-col>
          </ion-row>
          </ion-item> 
        </ion-list>
</ion-content>
  <ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col col-19><button ion-button color="dark" full (click)="proceed()">Proceed</button></ion-col>
        </ion-row>
    </ion-grid>
  </ion-footer>
  