<ion-header>
    <ion-navbar color="custom">
        <ion-title><span class="text-normal">RESERVATION</span></ion-title>
      </ion-navbar>
  </ion-header>
<ion-content>
  <ion-grid>
      <ion-row justify-content-center style="padding-top:30px">
        <span class="text-smaller">
          Building: {{building_name}}
        </span>
      </ion-row>  
      <ion-row justify-content-center>
          <span class="text-smaller">
            {{session_type_name}}
          </span>
        </ion-row>
      <ion-row justify-content-center>
        <span class="text-smaller">
          Type: {{type_name}}
        </span>
      </ion-row>    
      <ion-row justify-content-center style="padding-top:30px">
        <span class="text-normal">
          Step 4: Choose Section/Floor
        </span>
      </ion-row>    
    <ion-list>
      <ion-item *ngFor ="let data of sections" no-lines style="height:60px">
        <ion-row justify-content-center >
          <ion-col col-19>
              <button class="btn btn-custom btn-lg btn-block" (click)="gotoPlacesPage(data.id,data.name)">{{data.name}}</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
