// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

h2{
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
// .grid,.col{
//     padding-top: 0px;
//     padding-bottom: 0px;
//     margin:0px
// }
.text-smallest{
    font-size: 12px;
    color: white;
}
.text-smaller{
    font-size: 16px;
    color: white;
}
.text-normal{
    font-size: 20px;
    color: white;
}
.text-bigger{
    font-size: 30px;
    color: white;
}
.text-biggest{
    font-size: 40px;
    color: white;
}
.text-bold{
    font-weight: bold;
}
// .toolbar-background {
//     background-color: black;
//   }
// .toolbar-title{
//     text-align:center
// }
//   $toolbar-md-title-text-color: #777;
//   $toolbar-ios-title-text-color: #777;
//   $toolbar-wp-title-text-color: #777;
    
.menu-content{
    //background-color:  rgba(105, 40, 45, 0.918);
    background-color: transparent;
}
.menu-item-head{
    background-color: rgba(61, 16, 16, 0.795);
    color: rgb(255, 255, 255);
    // border-left: 1px solid rgba(255, 255, 255, 0.795);
    // margin-left: 2px;
    padding-top:20px
}
.menu-item{
    background-color: transparent;
    color: rgb(255, 255, 255);
    // border-left: 1px solid rgba(255, 255, 255, 0.795);
    // margin-left: 2px;
}
.menu-icon{
    text-align: right;
}
.nav-decor {
    display: none !important;
    background: none transparent !important;
  }

.transparentBody {
    background: transparent !important;
}
      
.alert-md .alert-title {
    color: black;
}

.btn-custom {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #924f3b), color-stop(1, #881d04));
	background:-moz-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-webkit-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-o-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-ms-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:linear-gradient(to bottom, #924f3b 5%, #881d04 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#924f3b', endColorstr='#881d04',GradientType=0);
	background-color:#924f3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}
