page-home {
    font-family: 'Avenir', sans-serif;
    color: white;
    ion-content{
        background-color: #010001;
        color: white;
        margin:0;
        background-image: url("../../../assets/imgs/trust_bg.png");
        background-size: cover; -ms-background-size: cover; -o-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover;
    }
    .history-title{
        padding-top: 20px
    }
    .item-ios{
        background-color: rgba(129, 128, 128, 0.05);
        // background-color: transparent;
        border:0;
        color: white;
    }
    .item-md{
        background-color: rgba(129, 128, 128, 0.05);
        color: white;
    }
    .list-ios{
        border:0;
    }
    .ion-item-divider{
        border:0;
    }
    
    .hide {
        display: none;
    }
    .param{
        font-weight: normal;
        // background-color: blue;
        margin-left: 15px;
    }
    .value{
        font-weight: normal;
        margin-right: 15px;
        text-align: right;
        color: rgba(255, 255, 255, 0.795);
        // background-color: green;

    }
    .message{
        padding-top: 20px;
        text-align: center;
    }
}
