<ion-header>
  <ion-navbar hideBackButton color="custom">
    <button ion-button menuToggle style="display: block !important">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span class="text-normal">HOME</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row justify-content-center class="message">
          <span class="text-normal message" ng-show="message != null">
            {{message}}
          </span>
        </ion-row>    
      <ion-list>
        <ion-item no-lines [ngClass]="{hide: status==='0'}">
          <ion-row justify-content-center>
            <ion-col col-19 class="param">
              Location :
            </ion-col>
            <ion-col col-19 class="value">
              {{detail.name}}
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
              <ion-col col-19 class="param">
              Datetime :
            </ion-col>
            <ion-col col-19 class="value">
              {{detail.datetime}}
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
              <ion-col col-19 class="param">
              Start :
            </ion-col>
            <ion-col col-19 class="value">
              {{detail.start}}
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
              <ion-col col-19 class="param">
              End :
            </ion-col>
            <ion-col col-19 class="value">
              {{detail.end}}
            </ion-col>
          </ion-row>
          </ion-item> 
        </ion-list>
      <ion-row [class.hide]="!reserveButton">
          <ion-col col-19 style="padding-left:20px;padding-right:20px">
              <button class="btn btn-custom btn-lg btn-block" (click)="reserve()">Reserve</button>
            <!-- <button ion-button color="dark" full (click)="reserve()">Reserve</button> -->
          </ion-col>
      </ion-row>
      <ion-row [class.hide]="!releaseReserveButton">
          <ion-col col-19 style="padding-left:20px;padding-right:20px">
              <button class="btn btn-custom btn-lg btn-block" (click)="unreserve()">Release Reservation</button>
            <!-- <button ion-button color="dark" full (click)="unreserve()">Release Reservation</button> -->
          </ion-col>
      </ion-row>
      <ion-row [class.hide]="!checkinButton">
          <ion-col col-19 style="padding-left:20px;padding-right:20px">
              <button class="btn btn-custom btn-lg btn-block" (click)="checkin()">Check-In</button>
            <!-- <button ion-button color="dark" full (click)="checkin()">Check-In</button> -->
          </ion-col>
      </ion-row>
      <ion-row [class.hide]="!checkoutButton">
          <ion-col col-19 style="padding-left:20px;padding-right:20px">
              <button class="btn btn-custom btn-lg btn-block" (click)="checkout()">Check-Out</button>
            <!-- <button ion-button color="dark" full (click)="checkout()">Check-Out</button> -->
          </ion-col>
      </ion-row>
      <ion-row [class.hide]="reserveButton">
          <ion-col col-19 style="padding-left:20px;padding-right:20px">
              <button class="btn btn-custom btn-lg btn-block" (click)="refreshme()">Refresh</button>
            <!-- <button ion-button color="dark" full (click)="refreshme()">Refresh</button> -->
          </ion-col>
      </ion-row>
      <ion-row justify-content-center class="history-title">
        <span class="text-normal">
          HISTORY
        </span>
      </ion-row>
      <ion-list>
        <ion-item *ngFor ="let data of history" no-lines>
            <ion-row justify-content-center>
                <ion-col col-19 class="param">
              Location :
            </ion-col>
            <ion-col col-19 class="value">
              {{data.name}}
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
              <ion-col col-19 class="param">
              Start :
            </ion-col>
            <ion-col col-19 class="value">
              {{data.start}}
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
              <ion-col col-19 class="param">
              End :
            </ion-col>
            <ion-col col-19 class="value">
              {{data.end}}
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>   
    </ion-grid>
</ion-content>
