<ion-header>
  <ion-navbar hideBackButton color="custom">
    <button ion-button menuToggle style="display: block !important">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Check-In</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
      <ion-item no-lines [ngClass]="{hide: scannedtext===''}">
        <ion-row justify-content-center class="param">
          <ion-col col-19>
            Status :
          </ion-col>
          <ion-col col-19 class="value">
            {{detail.status}}
          </ion-col>
        </ion-row>
        <ion-row justify-content-center class="param">
          <ion-col col-19>
            Location :
          </ion-col>
          <ion-col col-19 class="value">
            {{detail.name}}
          </ion-col>
        </ion-row>
        <ion-row justify-content-center class="param">
          <ion-col col-19>
            Datetime :
          </ion-col>
          <ion-col col-19 class="value">
            {{detail.datetime}}
          </ion-col>
        </ion-row>
        <ion-row justify-content-center class="param">
          <ion-col col-19>
            Start :
          </ion-col>
          <ion-col col-19 class="value">
            {{detail.start}}
          </ion-col>
        </ion-row>
        <ion-row justify-content-center class="param">
          <ion-col col-19>
            End :
          </ion-col>
          <ion-col col-19 class="value">
            {{detail.end}}
          </ion-col>
        </ion-row>
      </ion-item> 
    </ion-list>
    <ion-row justify-content-center>
      <ion-col col-19>
        <button ion-button color="dark" full (click)="goscan()">QR Code Scan</button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center [ngClass]="{hide: detail.status!='Vacant'}">
      <ion-col col-19>
        <button ion-button color="dark" full (click)="checking()">Check-In</button>
      </ion-col>
    </ion-row>  
  </ion-grid>
</ion-content>  
  