<ion-header>
    <ion-navbar hideBackButton color="custom">
      <button ion-button menuToggle style="display: block !important">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>About</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
  
</ion-content>
