<ion-header>
    <ion-navbar color="custom">
        <ion-title><span class="text-normal">RESERVATION</span></ion-title>
    </ion-navbar>
  </ion-header>
<ion-content>
  <ion-grid>
      <ion-row justify-content-center style="padding-top:30px">
        <span class="text-smaller">
          Building: {{building_name}}
        </span>
      </ion-row>    
      <ion-row justify-content-center>
        <span class="text-smaller">
          Session: {{session_type_name}}
        </span>
      </ion-row>      
      <ion-row justify-content-center style="padding-top:30px">
        <span class="text-normal">
          Step 3: Choose Type
        </span>
      </ion-row>    
      <ion-list>
      <ion-item *ngFor ="let data of types" no-lines style="height:60px">
        <ion-row justify-content-center >
          <ion-col col-19>
              <button class="btn btn-custom btn-lg btn-block" (click)="gotoSectionsPage(data.id,data.name)">{{data.name}}</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
