<ion-header>
    <ion-navbar hideBackButton color="custom">
      <button ion-button menuToggle style="display: block !important">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><span class="text-normal">RESERVATION</span></ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>

      <ion-grid>
          <ion-row justify-content-center style="padding-top:30px">
            <span class="text-smaller">
              Building: {{building_name}}
            </span>
          </ion-row>
          <ion-row justify-content-center>
              <span class="text-smaller">
                Session: {{session_type_name}}
              </span>
            </ion-row>  
          <ion-row justify-content-center>
            <span class="text-smaller">
              Type: {{type_name}}
            </span>
          </ion-row>    
          <ion-row justify-content-center>
            <span class="text-smaller">
              Section/Floor: {{section_name}}
            </span>
          </ion-row>  
          <ion-row justify-content-center>
              <span class="text-smaller">
                Place: {{detail.name}}
              </span>
            </ion-row>
        <ion-row justify-content-center class="message">
            <span class="text-normal message" ng-show="message != null">
              {{message}}
            </span>
          </ion-row>    
        <ion-list>
          <ion-item no-lines [ngClass]="{hide: status==='0'}">
            <ion-row justify-content-center>
              <ion-col col-19 class="param">
                Name :
              </ion-col>
              <ion-col col-19 class="value">
                {{detail.staff_name}}
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
                <ion-col col-19 class="param">
                  Contact :
                </ion-col>
                <ion-col col-19 class="value">
                  {{detail.staff_contact}}
                </ion-col>
              </ion-row>  
            <ion-row justify-content-center>
                <ion-col col-19 class="param">
                Datetime :
              </ion-col>
              <ion-col col-19 class="value">
                {{detail.datetime}}
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
                <ion-col col-19 class="param">
                Start :
              </ion-col>
              <ion-col col-19 class="value">
                {{detail.start}}
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
                <ion-col col-19 class="param">
                End :
              </ion-col>
              <ion-col col-19 class="value">
                {{detail.end}}
              </ion-col>
            </ion-row>

            <ion-row [class.hide]="!morning">
                <ion-col col-19 style="padding-left:20px;padding-right:20px">
                    <button class="btn btn-custom btn-lg btn-block" (click)="reserve()">8.30 am - 1.00 pm</button>
                </ion-col>
            </ion-row>
            <ion-row [class.hide]="!afternoon">
                <ion-col col-19 style="padding-left:20px;padding-right:20px">
                    <button class="btn btn-custom btn-lg btn-block" (click)="reserve()">2.00 am - 5.30 pm</button>
                </ion-col>
            </ion-row>
            <ion-row [class.hide]="!fullday">
                <ion-col col-19 style="padding-left:20px;padding-right:20px">
                    <button class="btn btn-custom btn-lg btn-block" (click)="reserve()">8.30 am - 5.30 pm</button>
                </ion-col>
            </ion-row>            
            </ion-item> 
          </ion-list>
        <ion-row justify-content-center class="history-title">
          <span class="text-normal">
            HISTORY
          </span>
        </ion-row>
        <ion-list>
          <ion-item *ngFor ="let data of history" no-lines>
            <ion-row justify-content-center>
              <ion-col col-19 class="param">
                Name :
              </ion-col>
              <ion-col col-19 class="value">
                {{data.name}}
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
                <ion-col col-19 class="param">
                Start :
              </ion-col>
              <ion-col col-19 class="value">
                {{data.start}}
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
                <ion-col col-19 class="param">
                End :
              </ion-col>
              <ion-col col-19 class="value">
                {{data.end}}
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>   
      </ion-grid>
  </ion-content>
  